
  ul{
      
      
      
     
      display: flex;
      height: 20%;
  }
  li{
      list-style-type: none;
      width: 33.33%;
      margin-left: -3rem;
      height: 4rem;
      backdrop-filter: blur(20px);
      
      
      
      border-style: groove;
     
  }
  
  .navBar{
    backdrop-filter: blur(20px);
    width: 80%;
    margin: auto;
    

  }